.gambar-containerNew {
    width: 44%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 59vw;
}

.gambar-container {
    width: 44%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 10px;
    height: 51vw;
}

.gambar {
    width: 100%;
    height: auto;
    display: block;
    border: 0.1vw solid #000;
}


.gambarStatus-container {
    width: 44%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 10px;
}

.gambarStatus {
    width: 30%;
    height: auto;
    display: block;
    position: absolute;
    bottom:80%; /* posisi tombol di bagian bawah */
    left: 8.5%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
     /* warna dapat disesuaikan */
    color: rgb(254, 254, 254);
    border: none;
    padding: 5%; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
}

.gambarDisc-container {
    width: 44%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 10px;
}

.gambarDisc {
    width: 35%;
    height: auto;
    display: block;
    position: absolute;
    bottom:82%; /* posisi tombol di bagian bawah */
    left: 87.5%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
     /* warna dapat disesuaikan */
    color: rgb(254, 254, 254);
    border: none;
    padding: 5%; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
    
}

.tombol {
    position: absolute;
    bottom: -1vw; /* posisi tombol di bagian bawah */
    left:38vw; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
    background-color: rgba(255, 136, 0, 0.834); /* warna dapat disesuaikan */
    color: rgb(254, 254, 254);
    border: none;
    padding: 4%; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
    z-index: 2;
}

.tombolIndex {
    position: absolute;
    font-size: 2.5vw;
    bottom: 5%; /* posisi tombol di bagian bawah */
    left:50%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
    background-color: rgb(255, 136, 0); /* warna dapat disesuaikan */
    color: rgb(254, 254, 254);
    border: none;
    padding: 3%; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
    z-index: 2;
}

.tombol i {
    font-size: 5vw; /* Atur ukuran font ikon */
}

.banner {
    margin-top: 90px;
    width: 100%; /* Membuat gambar banner memiliki lebar 100% dari lebar header */
    height: auto; /* Menjaga proporsi aspek gambar agar tidak terdistorsi */
}

.tagMenu {
    margin-top: 20px;
    width: 100%; /* Membuat gambar banner memiliki lebar 100% dari lebar header */
    height: auto; /* Menjaga proporsi aspek gambar agar tidak terdistorsi */
    opacity: 0.5;
}

.tagMenuIndex {
    margin-top: 10px;
    width: 100%; /* Membuat gambar banner memiliki lebar 100% dari lebar header */
    height: 5vw; /* Menjaga proporsi aspek gambar agar tidak terdistorsi */
    opacity: 0.5;
}

.tagMenu-container {
    width: 100%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 0px;
}

.teks-di-depan {
    position: absolute;
    top: 40%; /* Sesuaikan posisi teks vertikal */
    left: 50%; /* Tetapkan posisi awal di tengah horizontal */
    transform: translateX(-50%); /* Geser ke kiri sebanyak setengah lebar teks */
    color: white; /* Warna teks */
    font-size: 4vw; /* Ukuran font */
    font-weight: bold; /* Ketebalan font */
    text-shadow: 2px 2px 2px black; /* Efek bayangan teks */
    z-index: 1; /* Pastikan teks tampil di atas gambar */
}

.teks-di-depanIndex {
    position: absolute;
    top: 1.9vw; /* Sesuaikan posisi teks vertikal */
    left: 50%; /* Tetapkan posisi awal di tengah horizontal */
    transform: translateX(-50%); /* Geser ke kiri sebanyak setengah lebar teks */
    color: rgb(3, 20, 255); /* Warna teks */
    font-size: qvw; /* Ukuran font */
    font-weight: bold; /* Ketebalan font */
    z-index: 1; /* Pastikan teks tampil di atas gambar */
}

  

.text-container {
    margin-top: 1px;
    position: relative;
    display: inline-block;
    background-color: #ffffff; /* Warna latar belakang putih */
    color: #000000; /* Warna teks hitam */
    padding: 0%; /* Padding untuk memberikan ruang di sekitar teks */
    border-radius: 8px; /* Membuat sudut kontainer menjadi sedikit melengkung */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Efek bayangan untuk memberikan kedalaman */
    max-width: 100%; /* Kontainer tidak akan melebihi lebar layar */
    margin: 0 auto; /* Mengatur margin otomatis untuk kontainer */
    box-sizing: border-box; /* Memastikan padding dan border tidak menambah lebar total */
}
.TextHarga-container {
    width: 44%; /* agar gambar terlihat lebih baik dalam layout 2 kolom */
    position: relative;
    display: inline-block;
    margin: 10px;
}

.TextHarga {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:0vw; /* posisi tombol di bagian bawah */
    left: 50%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
     /* warna dapat disesuaikan */
    font-size: 2.5vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1vw; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
    z-index: 1;
    line-height: 1.1;
}

.TextKeterangan {
    width: 100%;
    height: auto;
    display: block;
    position: absolute;
    bottom:8vw; /* posisi tombol di bagian bawah */
    left: 50%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
     /* warna dapat disesuaikan */
    font-size: 2.5vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1vw; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
    z-index: 1;
    line-height: 1.1;
}

.TextTerjual {
    width: 100%;
    height: auto;
    display:block;
    position: absolute;
    bottom:8vw; /* posisi tombol di bagian bawah */
    left: 50%; /* posisi tombol di tengah secara horizontal */
    transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
     /* warna dapat disesuaikan */
    font-size: 1.2vw;
    background-color: #ffffff;
    color: rgb(0, 0, 0);
    border: none;
    padding: 1vw; /* Menggunakan persentase untuk padding */
    border-radius: 3px;
    cursor: pointer; 
}

.containerBawah {
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3vw;
  }


  .tombolBawah {
    
    border: none;
    color: rgb(0, 0, 0);
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 5vw;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 50%;
  }

  .previous, .next {
    position: absolute;
    background-color: #8787876f;
    border: none;
    padding: 1vw 2vw; /* Menggunakan vw untuk membuat ukuran padding responsif */
    cursor: pointer;
    font-size: 6vw;
    border-radius: 4vw;
    color: rgb(0, 0, 0);
  }

  .Nonaktif{
    color: rgb(255, 255, 255);
  }

  .previous {
    background-color: #ffffff; /* Warna hijau */
    margin-right: 20%;
    left: 0;
  }

  .next {
    background-color: #ffffff; /* Warna biru */
    margin-left: 20vw;
    right: 0;
  }

  .tengah {
    background-color: #ffffff; /* Warna merah */
    border-radius: 50%; /* Menjaga bentuk bulat */
    font-size: 2vw;
  }

  




@media screen and (max-width: 375px) {
    .gambar-container {
        width: auto;
        height: auto; 
    }

    .tombol {
        position: absolute;
        bottom: 10vw; /* posisi tombol di bagian bawah */
        left:50%; /* posisi tombol di tengah secara horizontal */
        transform: translateX(-50%); /* menggeser tombol ke kiri sebesar setengah dari lebar tombol */
        background-color: rgba(255, 136, 0, 0.834); /* warna dapat disesuaikan */
        color: rgb(254, 254, 254);
        border: none;
        padding: 4%; /* Menggunakan persentase untuk padding */
        border-radius: 3px;
        cursor: pointer; 
        z-index: 2;
    }
}

@media screen and (min-width: 375px) {
    .gambar-container {
        width: 44%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}

@media screen and (min-width: 576px) {
    .gambar-container {
        width: 45%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}

@media screen and (min-width: 968px) {
    .gambar-container {
        width: 45%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}

@media screen and (min-width: 1150px) {
    .gambar-container {
        width: 45%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}

@media screen and (min-width: 1400px) {
    .gambar-container {
        width: 45%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}

@media screen and (min-width: 2048px) {
    .gambar-container {
        width: 45%; /* Mengubah lebar menjadi 100% untuk satu kolom pada perangkat dengan lebar layar <= 600px */
    }
}
